#copyright-text{
    background: rgb(188,160,255);
    background: linear-gradient(100deg, rgba(188,160,255,1) 0%, rgba(172,227,252,1) 100%);
    width: 100%;
    display: flex;
    justify-content: center;   
}
#main-footer{
    width: 100%;
}
#company-name h6{
    text-decoration: none;
    color: azure;
}
#explore-links a{
    color: white;
}